services:
  - type: web
    name: tg-miniapp-shop
    env: node
    plan: free
    rootDir: .
    buildCommand: npm install
    startCommand: node server/index.js
    autoDeploy: true
    envVars:
      - key: NODE_VERSION
        value: 18




